@import '~vuetify/src/styles/settings/_variables';

@function breackpoint($value) {
    @return map-get($grid-breakpoints, $value);
}

@function getMedia($value) {
    @return map-get($display-breakpoints, $value);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media #{getMedia('xs-only')} {
        padding: 0 1rem;
    }
    @media #{getMedia('sm-only')} {
        max-width: breackpoint('sm');
    }
    @media #{getMedia('md-only')} {
        max-width: breackpoint('md');
    }
    @media #{getMedia('lg-and-up')} {
        max-width: breackpoint('lg');
    }
}

.mainView {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    @media #{getMedia('md-and-up')} {
        grid-template-columns: repeat(2, 1fr);
    }
}
.status-1 {
    color: var(--v-primary-base);
}

.status-2 {
    color: var(--v-succes-base);
}

.status-3 {
    color: var(--v-error-base);
}
